*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.landingPage{
    max-width: 100%;
    max-height: 100vh;
    background-color: hsl(0, 0%, 98%);

}
/* NAVIGATION BAR START */
.navbar{
    width: 100%;
    height:7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo svg{
    padding-top: 10px;
    margin-left:35px;
}
.nav1{
    width: 40%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featuredrop::after{
    content: '';
    width: 0;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.featuredrop:hover::after{
    width: 70%;

}

.featuredrop, .categorydrop, svg{
    margin-left:4px ;
}

.categorydrop::after{
    content: '';
    width: 0;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;   
}
.categorydrop:hover::after{
    width: 100%;
}
.course::after{
    content: '';
    width: 0;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;  
}
.course:hover::after{
    width: 100%;
}
.About::after{
    content: '';
    width: 0;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;   
}
.About:hover::after{
    width: 100%;
}
.login::after{
    content: '';
    width: 0;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;   
}
.login:hover::after{
    width: 100%;
}

.featuredrop, .categorydrop, .course, .About, .login, .register, a{
    font-size: 15px;
    text-decoration: none;
    color:hsl(0, 0%, 41%);
    cursor: pointer;
}
.cont,.categorydrop, .course, .About, .login, a:hover{
    color: black;
    transition: 0.5s;
}

/* DROP DOWN CODE FEATUREDROP */
.featuredrop{
    float: left;
    overflow: hidden;
}
  .dropdown-content {
    display: none;
    position: absolute;
    margin-inline-start: -50px;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width:120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
  }
  .dropdown-content a:hover {
    background-color: hsl(0, 6%, 90%, 0.493);
  }
  .featuredrop:hover .dropdown-content {
    display: block;
  }
  
/** The drop down  content and image for featuredrop Start  **/
.todo{
    margin-top: 15px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.todo svg{
    position: absolute;
    margin-top: 2px;
    margin-inline-start: -14px;
}
.calendar{
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.calendar svg{
    position: absolute;
    margin-top: 2px;
    margin-inline-start: -14px;
}
.Reminder{
    margin-left: 30px;
    display: flex;
    align-items: center;
  }
.Reminder svg{
    position: absolute;
    margin-top: 2px;
    margin-inline-start: -14px;
}
.Planning{
    margin-left: 30px;
    display: flex;
    align-items: center;
  }
.Planning svg{
    position: absolute;
    margin-top: 2px;
    margin-inline-start: -14px;
}
/** The drop down  content and image for featuredrop End **/

/* DROP DOWN CODE END FEATUREDROP */


/* The drop down for category */
.categorydrop{
    float: left;
    overflow: hidden;
}
  .dropdown-cat{
    margin-top: 15px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width:20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-cat a{
    float: none;
    color: black;
    padding: 9px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
  }
  
  .dropdown-cat a:hover {
    background-color: hsl(0, 6%, 90%, 0.493);
  }
  .categorydrop:hover .dropdown-cat {
     display: block;
  }
 
/* The drop down end for category */

/* Nav2 Start Css */
.nav2{
    width: 18%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register a{
    padding: 8px 15px;
    margin-right: 30px;
    border: 1px solid hsl(0, 0%, 8%); 
    border-radius: 13px;
}

.register a:hover{
    background: black;
    color: white;
}
/* NAV2 End Css */

/* NAVIGATION BAR END */


/* CONTENT WRITEUP LINES OF CODE  START*/
.content{
    width: 100%;
    height:79.3svh ;
    display: flex;
    justify-content: space-around;
}

.text{
    margin-top: 100px;
    width: 50%;
    height:75vh;
    margin-left:150px ;
}

.text h1{
    font-size: 65px;
    line-height: 65px;
}
.text p{
    color:hsl(0, 0%, 8%);
    margin-top: 50px;
    font-weight:470;
    line-height: 20px;
}

.learn {
    margin-top: 80px;
    
}
.learn a{
    text-decoration: none;
    color:hsl(0, 0%, 98%);
    background:hsl(0, 0%, 8%);
    padding: 13px 25px;
    border-radius: 15px;
    cursor: pointer;
}
.learn a:hover{
    border: 1px solid hsl(0, 0%, 8%); ;
    background-color: transparent;
    color: black;
}

.foot{
    margin-top: 95px;
    width:56%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.img1, .img3, .img4, img{
    width: 80px;
}
.img2 img{
    width: 60px;
}
.image{
    margin-top: 60px;
    width: 40%;
    height:50vh;
}
.image img{
    width: 360px;
}
.mobile{
    display: none;
}
.nav-icon img{
    display: none;
}

/* CONTENT WRITEUP LINES OF CODE END */
@media (min-width: 300px) and (max-width: 480px) {
    body {
        height: 100vh;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .nav-icon img{
        width: 30px;
        height: 30px;
        margin: 20px 20px 0px 0px;
      }

      .nav1 a {
        display: none;
      }
      .featuredrop, .categorydrop svg{
        display: none;
      }

      .nav2 a{
        display: none;
      }

      .image img{
        display: none;
      }
      .mobile{
        display: grid;
        margin-right:370px;
        margin-top: 25px;
      }
      .mobile img{
        width: 360px;
      }
      .text{
        margin-top:318px;
        
      }
      .text h1{
        margin-left: 350px;
        font-size: 15px;
        line-height: 15px;
    }
    .text p{
        display:block;
        margin-left: 300px;
        color:hsl(0, 0%, 8%);
        margin-top: 10px;
        font-size: 15px;
    }

     
}
